.hero {
    background: url(../assets/img/bg.jpg);
    background-position: center -90px;
    background-repeat: no-repeat;
    height: 820px;
    margin-top: -1px;
    
}

.hero_title {
    width: 550px;
    padding: 160px 0 0 80px;
}

h1 {
    padding: 0 0 10px 0;
    font-family: 'Merriweather', serif;
    font-size: 60px;
    line-height: 120px;
}

.hero_description {
    margin-bottom: 25px;
    line-height: 40px;
}

.button_one {
    position: relative;
    z-index: 22;
    width: 220px;
    padding: 8px 0 7px 0;
    background: #bdae82;
    font-family: inherit;
    border: none;
    line-height: 40px;
    cursor: pointer;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25))
}

.button_one:hover {
    color: #fff;
    transition: 0.4s ease-in-out;
}

.hero1 {
    width: 100%;
    height: auto;
}

.button_one, .button {
    border-radius: 4px;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px #bdae82;
}

.button_one:focus, .button:focus {
    outline: 0;
}

.button_one:before, .button::before, .button:after, .button_one:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 1s;
    background-repeat: no-repeat;
}

.button_one:before, .button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #bdae82 20%, transparent 20%), radial-gradient(circle, transparent 20%, #bdae82 20%, transparent 30%), radial-gradient(circle, #bdae82 20%, transparent 20%), radial-gradient(circle, #bdae82 20%, transparent 20%), radial-gradient(circle, transparent 10%, #bdae82 15%, transparent 20%), radial-gradient(circle, #bdae82 20%, transparent 20%), radial-gradient(circle, #bdae82 20%, transparent 20%), radial-gradient(circle, #bdae82 20%, transparent 20%), radial-gradient(circle, #bdae82 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.button_one:after, .button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #bdae82 20%, transparent 20%), radial-gradient(circle, #bdae82 20%, transparent 20%), radial-gradient(circle, transparent 10%, #bdae82 15%, transparent 20%), radial-gradient(circle, #bdae82 20%, transparent 20%), radial-gradient(circle, #bdae82 20%, transparent 20%), radial-gradient(circle, #bdae82 20%, transparent 20%), radial-gradient(circle, #bdae82 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.button_one:active, .button:active {
    transform: scale(0.9);
    background-color: #bdae82;
    box-shadow: 0 2px 25px #bdae82;
}
.button_one.animate:before, .button.animate:before {
    display: block;
    animation: top ease-in-out 0.75s forwards;
}
.button_one.animate:after, .button.animate:after {
    display: block;
    animation: bottom ease-in-out 0.75s forwards;
}
@keyframes top {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
@keyframes bottom {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}